/* Custom font color*/
.font-custom-color {
  color: #9b89b3 !important;
}

/* Custom font color*/
body {
  font-family: "Ubuntu", sans-serif;
  color: #4c13f5 !important;

  /* Use the linear-gradient property with the desired color stops */
  background: linear-gradient(45deg, #fef6ff, #9e82f33f);
  /* You can customize the gradient direction and colors as per your preference */
  /* For example, "to bottom" creates a top-to-bottom gradient */
  /* #ffcc00 and #ff6600 are example colors; you can replace them with your desired colors */
}

/* Custom button primary color*/
.btn-primary {
  background-color: #4c13f5;
  border-radius: 50px;
  border: solid #9b89b3 2px;
  color: #fef6ff;
}

.btn-primary:hover {
  color: #fef6ff;
  background-color: #9b89b3;
  border: solid #9b89b3 2px;
}

/* animates along in -y axis */
.btn-custom-animation-n-y {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.btn-custom-animation-n-y:hover {
  transform: translate(-20px);
}

/* animates along in y axis */
.btn-custom-animation-p-y {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.btn-custom-animation-p-y:hover {
  transform: translate(+20px);
}

/* Custom button danger color*/
.btn-danger {
  border-radius: 2px;
}

/* Custom button secondary outline color*/
.btn-outline-secondary {
  background-color: #fef6ff;
  color: #4c13f5;
  border: #9b89b3 2px solid;
  border-radius: 50px;
}

.btn-outline-secondary:hover {
  background-color: #9b89b3;
  border: solid 2px #9b89b3;
  color: #4c13f5;
}

.btn-outline-secondary:active {
  background-color: #4c13f5 !important;
  border: solid #9b89b3 1px !important;
  color: #fef6ff;
}

/* Custom button success color*/
.btn-success {
  border-radius: 3px;
  background-color: #d2eba7;
  color: #1d0251;
  border: #d2eba7 2px solid;
  border-radius: 50px;
}

.btn-success:hover {
  background-color: #74cc7e;
  color: #1d0251;
}

.btn-success:active {
  background-color: #019081 !important;
  border: solid #d2eba7 1px !important;
  color: #1d0251;
}

.btn-danger {
  background-color: #9b89b3;
  border: #9b89b3 1px solid;
  box-shadow: 0px 2px 5px rgba(29, 2, 81, 0.5) !important;
  border-radius: 5px;
}

.btn-danger:hover {
  color: #9b89b3;
  background-color: #fef6ff;
  border: #9b89b3 1px solid;
  box-shadow: 0px 5px 10px rgba(29, 2, 81, 0.5) !important;
}

/* Custom button css for start button*/
.custom-btn-shadow {
  box-shadow: 0px 2px 10px rgba(29, 2, 81, 0.5) !important;
}

.custom-btn-shadow:hover {
  box-shadow: 0px 5px 10px rgba(29, 2, 81, 0.5) !important;
}

/* custom css for the login form element */
.form-signin {
  max-width: 530px;
  padding: 3rem;
}
.m-auto-signup {
  margin: auto !important;
  margin-top: 30px !important;
  background-color: #fef6ff;
  border-radius: 10px;
}

.m-auto {
  margin: auto !important;
  margin-top: 90px !important;
  background-color: #fef6ff;
  border-radius: 10px;
}
.w-100 {
  width: 100% !important;
}
*,
::after,
::before {
  box-sizing: border-box;
}

/*custom css for the input elements*/
.form-control {
  border: solid #9b89b3 2px;
  border-radius: 50px;
  background-color: #fef6ff;
  color: #4c13f5 !important;
  font-weight: normal;
}

.form-control:focus {
  border: rgb(155, 137, 179) 2px solid !important;
  box-shadow: 0 0 10px rgba(29, 2, 81, 0.5) !important;
  background-color: #fef6ff;
}

.magnifying-icon {
  color: #9b89b3;
}
.text-primary {
  color: #1d0251 !important;
}

.custom-component-heading {
  color: #01564d;
}

.floatingInput {
  font-weight: bold;
}

.form-check-input {
  border: #4c13f5 solid 1px;
}

.form-check-input:hover {
  border: #9b89b3 solid 1px;
  background-color: #fef6ff;
}

.form-check-input:checked {
  border: #4c13f5 solid 1px;
  color: #fef6ff;
}

/*custom css for the image profile in personal component*/
.img-custom {
  border-radius: 50%;
  border: none;
}

/*Nav bar nav links*/
.nav-link {
  color: #fef6ff;
}

.nav-link:hover {
  color: #9b89b3;
  font-weight: bolder;
}

.custom-nav-logo-instar {
  color: #9b89b3;
}

.custom-nav-logo-resume {
  color: #fef6ff;
}

.navbar {
  background-color: #4c13f5 !important;
}

.navbar-toggler {
  border: 2px solid #fef6ff;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover {
  border: 2px solid #9b89b3;
}

.custom-nav-toggler-icon {
  color: #fef6ff;
}

.custom-nav-toggler-icon:hover {
  color: #d2eba7;
}

.navbar {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
}

/* off canvas body */
.offcanvas {
  background-color: #fef6ff;
  border-radius: 10px;
  border: #4c13f5 solid 2px;
}

.custom-offcanvas-font {
  color: #4c13f5;
}

.offcanvas-custom-link {
  text-decoration: none;
  color: #4c13f5;
  font-weight: bold;
}

.offcanvas-custom-link:hover {
  color: #4c13f5;
  text-decoration: underline;
}

.offcanvas-custom-font-color {
  color: #9b89b3;
}

.offcanvas-custom-border {
  border: none;
  box-shadow: 0px 3px 10px rgba(155, 137, 179, 0.5) !important;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.offcanvas-custom-border:hover {
  border: none;
  box-shadow: 4px 4px 15px rgba(155, 137, 179, 0.5) !important;
  border-radius: 3px;
  transform: scale(1.05); /* Zoom in on hover (120% of the original size) */
}

.custom-border {
  border: #1d0251 solid 1px !important;
}

.increased-line-spacing-heading {
  line-height: 1.7; /* Adjust the value as needed */
  color: #4c13f5 !important;
}

.increased-line-spacing-subheading {
  line-height: 2;
  color: #9b89b3 !important;
}

.custom-feature {
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(155, 137, 179, 0.5) !important;
}

.custom-txt-color {
  color: #fef6ff !important;
}

/* custom login input css */
.custom-login-input {
  background-color: #fef6ff;
  border-radius: 10px;
  border: #9b89b3 solid 1px;
  box-shadow: 0px 2px 4px rgba(29, 2, 81, 0.5) !important;
}

.custom-link-signup {
  color: #4c13f5;
}

.custom-link-signup:hover {
  color: #4c13f5;
  font-weight: bold;
}

.custom-border-login {
  box-shadow: 0px 2px 10px rgba(29, 2, 81, 0.5) !important;
}

.personal-custom-border {
  border: none;
  box-shadow: 0px 3px 10px rgba(155, 137, 179, 0.5) !important;
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-color: #fef6ff;
}

.custom-border-contact {
  border: none;
  box-shadow: 0px 3px 10px rgba(155, 137, 179, 0.5) !important;
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-color: #fef6ff;
}

.main-custom-color {
  color: #4c13f5 !important;
}

/* CV */
.custom-border-cv {
  box-shadow: 0px 3px 10px rgba(155, 137, 179, 0.5) !important;
  border: #4c13f542 solid 1px;
}

.custom-border-cv-head {
  background-color: #033353;
}

.custom-cv-font-color-name {
  color: #fef6ff;
}

.custom-cv-font-color-moto {
  color: #4d9bb9;
  font-weight: bold;
}

.custom-cv-font-color-description {
  color: #fef6ff;
  font-weight: lighter;
  font-style: italic !important;
}

.custom-contact-info {
  color: #fef6ff;
  background-color: #031c2c;
}

.sub-heading-cv {
  color: #2b6d86;
  font-weight: bolder;
  font-size: large;
  text-decoration: underline;
}

.custom-inner-heading {
  color: #031c2c;
  font-weight: bold;
}

.custom-inner-item {
  color: #031c2c;
}
