/* Custom font color*/
.font-custom-color {
  color: #1d0251 !important;
}

/* Custom font color*/
body {
  font-family: "Open Sans", sans-serif;
  color: #1d0251 !important;
}

/* Custom button primary color*/
.btn-primary {
  background-color: #019081;
  border-radius: 50px;
  border: solid #019081 2px;
}

.btn-primary:active {
  background-color: #019081 !important;
  border: solid #019081 2px !important;
}

.btn-primary:hover {
  background-color: #d2eba7 !important;
  color: #1d0251;
  border: solid #019081 2px !important;
}

/* Custom button danger color*/
.btn-danger {
  border-radius: 2px;
}

/* Custom button secondary outline color*/
.btn-outline-secondary {
  border-radius: 3px;
  background-color: #d2eba7;
  color: #1d0251;
  border: #d2eba7 2px solid;
  border-radius: 50px;
}

.btn-outline-secondary:hover {
  background-color: #74cc7e;
  color: #1d0251;
}

.btn-outline-secondary:active {
  background-color: #019081 !important;
  border: solid #d2eba7 1px !important;
  color: #1d0251;
}

/* Custom button success color*/
.btn-success {
  border-radius: 2px;
  border: solid #f55c3d 1px;
  background-color: #f55c3d;
}

.btn-success:hover {
  background-color: #0000ff;
}

.btn-success:active {
  background-color: #f55c3d !important;
  border: solid #f55c3d 1px !important;
}

/* custom css for the login form element */
.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.m-auto {
  margin: auto !important;
}
.w-100 {
  width: 100% !important;
}
*,
::after,
::before {
  box-sizing: border-box;
}

/*custom css for the input elements*/
.form-control {
  border: solid #74cc7e 2px;
  border-radius: 5px;
  background-color: #d2eba7;
  color: #1d0251;
  font-weight: bold;
}

.form-control:focus {
  border: rgb(116, 204, 126) 2px solid !important;
  box-shadow: 0 0 10px rgba(29, 2, 81, 0.5) !important;
  background-color: #edf7dc;
}

.text-primary {
  color: #1d0251 !important;
}

.custom-component-heading {
  color: #f55c3d;
}

.floatingInput {
  font-weight: bold;
}

.form-check-input {
  border: #019081 solid 2px;
}

.form-check-input:hover {
  border: #1d0251 solid 2px;
  background-color: #74cc7e;
}

.form-check-input:checked {
  border: #019081 solid 2px;
  color: #1d0251;
}

/* custom css for the footer in the login and registration page */
.custom-font-color {
  color: #019081 !important;
  text-align: center;
}
/*custom css for the image profile in personal component*/
.img-custom {
  border-radius: 50%;
  border: solid #f55c3d 3px;
}

/*Nav bar nav links*/
.nav-link {
  color: #d2eba7;
}

.nav-link:hover {
  color: #74cc7e;
  font-weight: bolder;
}

.custom-nav-logo-instar {
  color: #019081;
}

.custom-nav-logo-resume {
  color: #74cc7e;
}

.navbar {
  background-color: #1d0251 !important;
}

.navbar-toggler {
  border: 2px solid #019081;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler:hover {
  border: 2px solid #d2eba7;
}

.custom-nav-toggler-icon {
  color: #019081;
}

.custom-nav-toggler-icon:hover {
  color: #d2eba7;
}
